
$accent: #FB5592
$dark: #323A49
$dark70: #60626A
$light: #FBFCFC
$landingBG: #F1F1F4
$darkBG: #14161F

$white90: rgba(255,255,255,.9)
$white80: rgba(255,255,255,.8)
$white70: rgba(255,255,255,.7)
$white60: rgba(255,255,255,.6)
$white50: rgba(255,255,255,.5)
$white40: rgba(255,255,255,.4)
$white30: rgba(255,255,255,.3)
$white20: rgba(255,255,255,.2)
$white15: rgba(255,255,255,.15)
$white10: rgba(255,255,255,.1)
$white5: rgba(255,255,255,.05)
$white5Solid: #20222A
$borderRad: 0.5rem
$sideBarTBPadding: 2rem
$sideBarLRPadding: 3.5rem

=placeholder($color)
    &::-webkit-input-placeholder
        color: $color
    &::-moz-placeholder
        color: $color
    &::-moz-placeholder
        color: $color
    &::-ms-input-placeholder
        color: $color