@import ~sass/variables

.container
    padding: 2rem $sideBarLRPadding
    position: relative

.word
    display: flex
    align-items: center
    padding: .5rem 0
    margin-bottom: .5rem
    margin-right: -10px
    cursor: pointer
    h3
        flex-grow: 1
        color: white
        font-family: 'proxima-soft'
        font-weight: 500
        font-size: 1.3rem
        z-index: 1
    i
        color: $white50
        padding: 10px
        opacity: 0
        &:hover
            color: white
    &:hover
        h3
            color: $accent
        i
            opacity: 1

