@import ~sass/variables

aside 
    z-index: 2
    position: absolute
    right: 0
    height: 100%
    width: 100%
    max-width: 375px
    background-color: $white5Solid
    transform: translate3d(100%,0,0)
    transition: transform 0.3s ease
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .25)
    display: grid
    grid-template-rows: 140px 1fr auto
    &.active
        transform: translate3d(0,0,0)

@media screen and ( max-width: 750px )
    aside
        max-width: none
    

.top
    padding: $sideBarTBPadding $sideBarLRPadding 0 $sideBarLRPadding


.nav
    display: flex
    width: 100%
    position: relative
    margin-bottom: 1.5rem
    & .exit
        cursor: pointer
        padding: 10px
        font-size: 1.5rem
        position: absolute
        left: -45px
        top: 50%
        transform: translate3d(0,-50%,0)
        color: $white40
        transition: color 0.3s ease
        &:hover
            color: white
    button
        flex-grow: 1
        font-size: 1.2rem
        background-color: $white15
        color: white
        padding: .75rem
        &.active
            background-color: $accent
        &:first-of-type
            border-radius: $borderRad 0 0 $borderRad
        &:last-of-type
            border-radius: 0 $borderRad $borderRad 0

.sectionTitle
    position: relative
    color: white
    display: flex
    justify-content: space-between
    align-items: center
    margin-right: -10px
    font-size: 1.8rem
    i
        font-size: 1.3rem
        cursor: pointer
        padding: 10px
        color: $white40
        transition: color 0.3s ease
        &:hover
            color: white

.dropdown
    position: absolute
    right: 0
    top: 30px
    z-index: 3

.center
    overflow: hidden
    position: relative

.scroll
    user-select: initial
    overflow: hidden
    height: 100%
    &::-webkit-scrollbar-track 
        border-radius: 5rem
    &::-webkit-scrollbar-thumb 
        border-radius: 5rem
    &.active
        overflow-y: auto
        -webkit-overflow-scrolling: touch

.topGradient
    position: absolute
    top: 0
    width: calc(100% - 20px)
    height: 50px
    z-index: 2
    background: linear-gradient(180deg, rgba(32,34,42,1) 0%, rgba(32,34,42,1) 50%, rgba(32,34,42,0) 100%)

.bottomGradient
    position: absolute
    bottom: 0
    width: calc(100% - 20px)
    height: 50px
    z-index: 2
    background: linear-gradient(0deg, rgba(32,34,42,1) 0%, rgba(32,34,42,1) 50%,rgba(32,34,42,0) 100%)


.bottom
    margin: 0 2.5rem $sideBarTBPadding 
    padding: .5rem calc(1rem - 10px) .5rem 1rem
    border: 2px solid $white20
    border-radius: $borderRad
    display: flex
    align-items: center
    color: $white30
    input
        color: white
        font-size: 1.2rem
        flex-grow: 1
    button
        color: inherit
        padding: 10px
        &.valid
            color: white

@media screen and ( max-width: 350px )
    .sectionTitle
        font-size: 1.5rem
    .bottom
        margin: 0 1rem 1rem 1rem