@import ~sass/variables

header
    pointer-events: none
    position: absolute
    width: 100%
    display: flex
    align-items: center 
    justify-content: space-between
    margin-top: 2rem
    padding: 0 3rem
    z-index: 1
    img 
        width: 200px

.left
    width: 200px

.center
    position: relative
    display: flex
    min-width: 0
    pointer-events: all

form
    background: #2B2D35
    border-radius: $borderRad
    display: flex
    align-items: center
    color: $white30
    padding: .5rem calc(1rem - 10px) .5rem 1rem
    width: 100%
    max-width: 295px
    min-width: 0
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .25)
    input
        color: white
        font-size: 1.2rem
        flex-grow: 1
        font-weight: 400
        +placeholder($white50)
    button
        color: inherit
        padding: 10px
        &.valid
            color: white
        i
            color: inherit

.random
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, .25)
    margin-right: 1rem
    height: 52px
    width: 52px
    min-width: 52px
    cursor: pointer
    background: #2B2D35
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    i
        color: white
        font-size: 1.25rem

.right
    pointer-events: all
    display: flex
    justify-content: flex-end
    margin-right: -10px
    margin-left: 1rem
    position: relative
.icon
    cursor: pointer
    color: white
    padding: 10px
    font-size: 1.5rem
    margin-left: 1.5rem
    
.menuBars
    position: relative
    span
        display: none
        &.active
            display: inline-block
            height: 15px
            width: 15px
            background: $accent
            border-radius: 50%
            position: absolute
            top: 6px
            right: 3px
            border: 2px solid #14161f

.dropdown
    position: absolute
    right: 0
    top: 40px
    right: 70px
    z-index: 3


@media screen and ( max-width: 1000px )
    header
        padding: 0 2rem
    .left
        display: none

@media screen and ( max-width: 700px )
    .donationButton
        display: none
@media screen and ( max-width: 550px )
    .random
        display: none
    .right
        width: initial
        i:last-of-type
            margin-left: 1rem
    form input
        font-size: 1rem

@media screen and ( max-width: 350px )
    header
        margin-top: 1rem 
        padding: 0 1rem