@import ~sass/variables

main
    width: 100%
    height: 100%
    background-color: $darkBG

.canvasWrapper
    width: 100%
    height: 100%
    z-index: 0
    opacity: 0
    transition: opacity 0.3s ease
    &.active
        opacity: 1

.delete
    pointer-events: none
    position: absolute
    bottom: 25px
    left: calc(50% - 25px)
    background: white
    height: 50px
    width: 50px
    border-radius: 50rem
    display: flex
    justify-content: center
    align-items: center
    transform: translate3d(0px, 80px, 0px) scale(0)
    opacity: 0
    transition: transform 0.3s, opacity 0.3s
    padding: 12px
    i
        font-size: 1.5rem
        color: $dark
    &.active
        transform: translate3d(0px, 0px, 0px) scale(1.01)
        opacity: 1
    &.hover
        transform: translate3d(0px, 0px, 0px) scale(1.25)

.progressBarCont
    pointer-events: none
    position: absolute
    bottom: 90px
    left: 50%
    transform: translateX(-50%)
    border-radius: 10rem
    background: #222531
    padding: .5rem
    opacity: 0
    box-shadow: 0 5px 10px -5px rgba(0,0,0,.25)
    &.active
        opacity: 1

.progressBar
    border-radius: 5rem
    height: 10px
    width: 150px
    overflow: hidden
    background: #2C2F3E
    span
        background: #FC4C8B
        display: block
        width: 100%
        height: 100%
        transform-origin: left
        transform: scaleX(0)

.savedText
    pointer-events: none
    background: #222531
    box-shadow: 0 5px 10px -5px rgba(0,0,0,.25)
    font-weight: bold
    color: white
    position: absolute
    bottom: 85px
    left: 50%
    transform: translateX(-50%)
    border-radius: 10rem
    padding: .5rem 1rem
    letter-spacing: 1px
    opacity: 0
    &.active
        animation: savedText 1s ease

@keyframes savedText
    0%
        opacity: 0
        transform: translateX(-50%) scale(0.5)
    50%
        opacity: 1
        transform: translateX(-50%) scale(1)
    100%
        opacity: 0
        transform: translateX(-50%) scale(0.5)