@import ~sass/variables

.page
    position: relative
    height: 100%
    width: 100%
    
        
router-outlet
    display: none

.spinner
    height: 50px
    width: 50px
    border: 5px solid #0578ff
    border-color: #0578ff #0578ff #0578ff transparent
    animation: spin 0.5s ease-in-out infinite
    border-radius: 50%
    position: fixed
    top: calc(50% - 25px)
    left: calc(50% - 25px)
    z-index: 100

@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)