@import ~sass/variables


.dropDown
    background: white
    border-radius: $borderRad
    padding: .75rem 1.5rem
    h3
        display: flex
        justify-content: space-between
        align-items: center
        color: $dark70
        font-family: 'proxima-soft'
        font-size: 1.2rem
        cursor: pointer
        margin-right: -10px
        &:hover
            color: $accent
        i
            pointer-events: none
            color: inherit
            font-size: inherit
            margin-left: 2rem
            cursor: pointer
            padding: 10px