@import ~sass/variables

.cont   
    padding: 3rem 2.5rem
    width: 100%
    height: 100%
    max-height: calc(100% - 40px)

textarea
    padding: 1.5rem
    width: 100%
    font: inherit
    font-size: 1.2rem
    resize: none
    background: none
    border: none
    overflow: auto
    color: white
    height: 100%
    border: solid 2px $white20
    border-radius: $borderRad
    &::-webkit-scrollbar-track 
        border-radius: 5rem
    &::-webkit-scrollbar-thumb 
        border-radius: 5rem
    
@media screen and ( max-width: 350px )
    .cont
        padding: 3rem 1rem

    
// textarea
//     padding: 3rem $sideBarLRPadding 
//     width: 100%
//     font: inherit
//     resize: none
//     background: none
//     border: none
//     overflow: hidden
//     color: white