@import ~sass/variables

@font-face 
    font-family: 'Campton'
    src: url('/assets/fonts/campton-bolddemo-webfont.woff2') format('woff2'),url('/assets/fonts/campton-bolddemo-webfont.woff') format('woff')         
    font-weight: normal
    font-style: normal


*
    user-select: none
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    &::selection
        background: $accent
        color: white

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'proxima-soft', sans-serif
    font-weight: 500
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: $dark
    -webkit-overflow-scrolling: touch
    background-color: $light
    overflow: hidden

h1,h2,h3,h4,h5,h6
    font-family: 'Campton', sans-serif

button
    border: none
    background: none
    cursor: pointer
    font-family: Ubuntu

textarea
    -webkit-user-select: text

input
    -webkit-user-select: text
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font-family: inherit
    min-width: 0
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s


@-webkit-keyframes autofill 
    color: black
    background: transparent

a 
    text-decoration: none
    outline: 0
    color: inherit



::-webkit-scrollbar 
    width: 10px


::-webkit-scrollbar-track 
    background: #2B2D35



::-webkit-scrollbar-thumb 
    background: #6e7075



.donationButton 
    background-color: #5F7FFF
    font-family: Campton
    color: $light
    padding: 0.75rem 1rem
    border-radius: 10rem
    letter-spacing: 1px
    display: flex
    align-items: center
    white-space: nowrap
    span
        display: inline-block
        height: 20px
        width: 20px
        background: $light
        border-radius: 50%
        margin-right: .5rem
        i
            position: relative
            top: 3px
            color: #5F7FFF