@import ~sass/variables

main
    width: 100%
    height: 100%
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    background-color: $darkBG
    overflow: auto
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 1rem
    background-image: url("/assets/pixi/bg.png")

h1
    color: white
    text-align: center
    font-size: 3.5rem
    line-height: 3.5rem
    margin: 4rem 2rem


.circleCont
    flex-grow: 1
    max-width: 650px
    width: 100%
    

.circle
    background-color: $darkBG
    position: relative
    border-radius: 50%
    border: 4px solid $accent
    width: 100%
    height: 0
    padding-bottom: 100%

form
    position: absolute
    width: 100%
    padding: 0 4rem 0 4rem 
    top: calc(50% - 55px)
    text-align: center
    // left: 50%
    // transform: translate3d(-50%,-50%,0)

.inputCont
    height: 55px
    display: flex
    width: 100%
    border-bottom: solid 4px $white15
    font-size: 1.7rem
    margin-bottom: 3rem
    input
        font: inherit
        flex-grow: 1
        color: white
        min-width: 0
    button
        font-size: inherit
        padding: 0 1rem
    i
        transition: color 0.3s
        color: $white15
    &.valid
        i
            color: white

.or
    margin-bottom: 3rem
    display: inline-block
    color: $white40
    font-family: 'campton'

.random
    height: 60px
    width: 60px
    cursor: pointer
    margin: auto
    background-color: $white15
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    i
        color: white
        font-size: 1.5rem

// @media screen and ( max-width: 700px )
//     h1
//         font-size: 3rem
//         line-height: 3rem

@media screen and ( max-width: 500px )
    h1
        font-size: 2.5rem
        line-height: 2.5rem
    .inputCont
        margin-bottom: 2rem
        font-size: 1.25rem
    .or
        margin-bottom: 2rem

@media screen and ( max-width: 400px )
    .or
        margin-bottom: 1rem
    .random
        height: 50px
        width: 50px
        i
            font-size: 1.2rem