@import ~sass/variables

$sidePadding: 1rem

main
    width: 100%
    height: 100%
    overflow-y: auto
    overflow-x: hidden
    -webkit-overflow-scrolling: touch
    display: grid
    user-select: text
    grid-template-rows: auto, 1fr

.nodeContainer
    position: relative

.leftNode
    position: absolute
    top: -10px
    left: 10px
    svg
        width: 100%

.rightNode
    position: absolute
    top: 10px
    right: -30px
    svg
        width: 100%
    
.node
    width: 500px

.svgStroke
    // animation: rainbow 10s infinite alternate
    stroke: #695AFF
.svgStrokeDelay
    // animation: rainbow 10s -4.5s infinite alternate
    stroke: #37E982
    
.intro  
    padding: 0 $sidePadding
    text-align: center
    margin: 1rem auto 0 auto
    img
        width: 250px
        margin-bottom: -.5rem
    & .sbros
        display: block
        margin-bottom: 2rem
    h1
        font-size: 3.5rem
        line-height: 3.5rem
        margin-bottom: 2rem
        user-select: text
    p
        font-size: 1.1rem
        color: $dark70
        max-width: 500px
        line-height: 1.75rem
        margin: 0 auto 2rem
        user-select: text

.startBtn
    background-color: $accent
    font-family: Campton
    color: $light
    padding: 1.5rem 3.5rem
    font-size: 1.1rem
    border-radius: 50rem
    letter-spacing: 2px
    box-shadow: 0 5px 20px -5px $accent
    transition: transform 0.3s
    &:hover
        transform: scale(1.1)

.instructions
    flex-grow: 1
    position: relative
    display: flex
    justify-content: center
    margin-top: 3rem
    flex-wrap: wrap
    

.bgColor
    display: flex
    flex-direction: column
    position: absolute
    top: 150px
    left: 0
    right: 0
    bottom: 0
    z-index: 1
.bgFill
    flex-grow: 1
    background-color: $landingBG

.svg
    width: 100%
    height: 200px
    background: url("/assets/landingBG.svg")
    background-repeat: no-repeat
    background-size: cover 

figure
    z-index: 2
    text-align: center
    margin: 3rem 
    img
        width: 100%
        max-width: 460px
        border-radius: 1.5rem
        margin-bottom: 1.5rem
        box-shadow: 0px 35px 50px -30px #1D1F30 
    h2
        margin-bottom: 1rem
        font-size: 1.75rem
        user-select: text
    figcaption
        user-select: text

.btmBtn
    background-color: $landingBG
    z-index: 2
    display: none
    position: relative
    text-align: center
    width: 100%
    padding: 0 $sidePadding
    img
        width: 100%
        max-width: 350px
    button
        transform: translate3d(-50%, -50%, 0)
        position: absolute
        top: 50%
        left: 50%

.donations
    z-index: 2
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 2rem
    padding: 0 2rem
    text-align: center
    p
        opacity: .75
        margin-bottom: 1rem
    


@media screen and ( max-width: 1750px )
    .node
        width: 400px
        top: -40px

@media screen and ( max-width: 1700px )
    .topBtn
        display: none
    .btmBtn
        display: block
        margin-bottom: 3rem
    .instructions
        margin-top: 2rem
        padding-top: 2rem
    .bgColor
        top: 0px
    .intro p
        margin: 0 auto 1rem

@media screen and ( max-width: 1375px )
    .node
        width: 300px


@media screen and ( max-width: 1200px )
    .node
        width: 200px
    .stroke
        stroke-width: 7px

@media screen and ( max-width: 700px )
    .node
        top: -25px
        width: 150px
    .stroke
        stroke-width: 10px
    
    .intro
        margin-top: 7rem

@media screen and ( max-width: 450px )
    .intro  
        h1
            font-size: 3rem
            line-height: 3rem
    figure
        margin-left: 1rem
        margin-right: 1rem
        margin-bottom: 2rem
        img
            border-radius: 1rem

@media screen and ( max-width: 400px )
    .intro  
        h1
            font-size: 2.5rem
            line-height: 2.5rem

