<main>
  <!-- Nodes -->
  <div class="nodeContainer">
    <div class="leftNode node">
      <svg
        preserveAspectRatio="xMaxYMin meet"
        width="520"
        height="437"
        viewBox="0 0 520 437"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          class="svgStroke stroke"
          cx="341.029"
          cy="234.979"
          r="40.5981"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStroke stroke"
          cx="181.855"
          cy="111.956"
          r="40.5981"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStroke stroke"
          cx="161.86"
          cy="296.408"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStroke stroke"
          cx="31.1976"
          cy="76.7425"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStroke stroke"
          cx="484.439"
          cy="195.146"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStroke stroke"
          cx="329.399"
          cy="405.09"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <path
          class="svgStroke stroke"
          d="M59.2002 86.6816L141.295 103.976M117.044 1.60449L161.77 75.55M211.265 142.141L306.083 213.105M380.426 224.037L454.57 200.78M188.605 287.249L302.306 249.282M339.676 276.117L332.123 375.904"
          stroke="black"
          stroke-width="5"
        />
      </svg>
    </div>
    <div class="rightNode node">
      <svg
        preserveAspectRatio="xMaxYMin meet"
        width="458"
        height="400"
        viewBox="-4 0 454 400"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <circle
          class="svgStrokeDelay stroke"
          cx="117.267"
          cy="231.43"
          r="40.5981"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStrokeDelay stroke"
          cx="264.734"
          cy="147.236"
          r="40.5981"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStrokeDelay stroke"
          cx="31.5951"
          cy="368.244"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStrokeDelay stroke"
          cx="86.0326"
          cy="124.911"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStrokeDelay stroke"
          cx="294.282"
          cy="275.717"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStrokeDelay stroke"
          cx="422.814"
          cy="164.61"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <circle
          class="svgStrokeDelay stroke"
          cx="242.011"
          cy="31.9051"
          r="28.5003"
          stroke="black"
          stroke-width="5"
        />
        <path
          class="svgStrokeDelay stroke"
          d="M46.1953 344.22L95.4043 267.673M93.1528 152.53L103.123 193.699M150.724 211.067L229.523 169.898M157.157 242.908L264.902 267.673M305.105 154.138L393.553 164.431M246.247 61.5098L255.575 107.824"
          stroke="black"
          stroke-width="5"
        />
      </svg>
    </div>
  </div>

  <!-- INTRO SECTION -->
  <section class="intro">
    <img src="assets/logo.png" alt="logo" />
    <a class="sbros" href="https://thestudiobros.com/products" target="_blank">
      <div style="opacity: 0.7">
        Made with <i class="fas fa-heart"></i> by <b>Studio Bros.</b>
      </div>
    </a>
    <h1>Brainstorming made fun.</h1>
    <p>
      Each word auto-generates related words. Follow the path you choose to
      create new ideas.
    </p>
    <a [routerLink]="['/search']"
      ><button class="startBtn topBtn">TRY IT OUT</button></a
    >
  </section>

  <!-- INSTUCTIONS SECTION -->
  <section class="instructions">
    <!-- BG -->
    <div class="bgColor">
      <div class="svg"></div>
      <div class="bgFill"></div>
    </div>
    <!-- 1: Create Node -->
    <figure>
      <img
        src="https://media.giphy.com/media/icIr98zDnXGbvgr5bu/giphy.gif"
        alt="create node"
      />
      <h2>Create and Move a Node</h2>
      <figcaption>
        Click on a word to create a new node. Hold to drag it around.
      </figcaption>
    </figure>
    <!-- 2: Seperate Node -->
    <figure>
      <img
        src="https://media.giphy.com/media/Ze9A2GyVWeidjbgTPf/giphy.gif"
        alt="seperate node"
      />
      <h2>Separate a Node</h2>
      <figcaption>
        Drag a node away from its parent to seperate it.
      </figcaption>
    </figure>
    <!-- 3: Save a Word -->
    <figure>
      <img
        src="https://media.giphy.com/media/h2kcv9lISVdikavS2M/giphy.gif"
        alt="save"
      />
      <h2>Save and Unsave Words</h2>
      <figcaption>
        Click and hold in place to save/unsave a word.
      </figcaption>
    </figure>
    <div class="btmBtn">
      <img src="assets/btmBtnBG.svg" alt="bg" />
      <a [routerLink]="['/search']"
        ><button class="startBtn">TRY IT OUT</button></a
      >
    </div>
    <!-- Donations -->
    <div class="donations">
      <p>
        Word Webs is completey free, so we need your help to keep the project
        alive!
      </p>
      <a href="https://www.buymeacoffee.com/ngCiUbM" target="_blank">
        <button class="donationButton">
          <span><i class="fas fa-dollar-sign"></i></span>
          SUPPORT US
        </button></a
      >
    </div>
  </section>
</main>
